<div class="register-container">
  <mat-card class="register-card">
    <h1 class="register-title">Cadastro</h1>

    <form [formGroup]="form" (submit)="submit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name" placeholder="Nome" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Email" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Senha</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Senha" required>
      </mat-form-field>

      <button mat-raised-button color="primary" class="register-button" type="submit">Cadastrar</button>
    </form>
  </mat-card>
</div>
