<div class="form-container">
  <mat-card class="task-form-card">
    <h2 class="form-title">Criar nova tarefa</h2>

    <form (ngSubmit)="createTask()" #taskForm="ngForm">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Título</mat-label>
        <input matInput name="title" [(ngModel)]="task.title" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Descrição</mat-label>
        <input matInput name="description" [(ngModel)]="task.description" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Responsável</mat-label>
        <input matInput name="responsible" [(ngModel)]="task.responsible" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Prioridade</mat-label>
        <mat-select name="priority" [(ngModel)]="task.priority" required>
          <mat-option value="L">Baixa</mat-option>
          <mat-option value="M">Média</mat-option>
          <mat-option value="H">Alta</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Criar</button>
    </form>
  </mat-card>
</div>
